.fundo {

    background-color: rgb(63, 63, 117);
}

.icon-white {

    color: white;
}

.cor {

    color: rgb(25, 25, 201);
}

.blue{
    color: rgb(75, 75, 212);
}

.black{
    color: #000;
}

.barra {

    background-color: rgb(76, 76, 201);
}